:root{
    --white-color: white;
    --grey-color: grey;
    --secondary-grey-color: rgb(54, 54, 54);
    --black-color: black;
}

*{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

body{
    background-color: var(--white-color);
    font-size: 20px;
    margin:0;
}

body.darkmode{
    background-color:var(--black-color);
    color: var(--white-color);
}

main{
    height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button{
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: var(--grey-color);
    font-size: 15px;
    transition: all;
}

button:hover{
    background-color: var(--secondary-grey-color);
    color: var(--white-color);
}

button.darkmode{
    background-color: var(--grey-color);
    color: var(--white-color);
}

button.darkmode:hover{
    background-color: var(--secondary-grey-color);
    color: var(--black-color);
}

footer{
    background-color: var(--grey-color);
    color: var(--white-color);
    font-size: 12px;
    width: 100%;
    padding: 2px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer.darkmode{
    background-color: var(--grey-color);
    color: var(--black-color);
}